/*====================google fonts sytling================ */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
/*====================google fonts sytling================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'DM Sans', sans-serif;
  behavior: smooth;
}

body {
  background: var(--bgd-pink-lit);
  font-family: 'DM Sans', sans-serif;
}

:root {
  --bgd-pink: #DB2F69;
  --bgd-pink-lit: #FEF8FB;

  --text-pink: #951E3D;
  --text-pink-lit: #951e3e71;
  --text-pink-shadow: #F4C1D2;
  --text-pink-shadow-2: #fe77a4;
  --text-pink-shadow-3: #f4c1d2bf;
  --text-col-200: rgb(69, 64, 64);
  --text-col-100: rgb(160, 160, 160);

  --col-green: #1DD1A1;
  --col-red: #FF6B6B;


  --col-drk-500: #000000;
  --col-drk-200: #454040;
  --col-drk-100: rgb(90, 86, 87);


  --lit-500: #fff;
  --lit-300: #ffefef;
  --lit-100: #F2F2F2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.display {
  display: flex;
  width: 100%;
  background: var(--bgd-pink);
}

.display-container {
  margin-inline: auto;
  overflow: hidden;
  width: 98%;
  display: flex;
  gap: 3rem;
  position: relative;
}

.display-container::before,
.display-container::after {
  content: " ";
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 5%;
  background: rgb(219, 47, 105);
  background: linear-gradient(90deg, rgba(219, 47, 105, 1) 0%, rgba(219, 47, 105, 0) 100%);
}

.display-container::after {
  right: 0;
  background: rgb(219, 47, 105);
  background: linear-gradient(69deg, rgba(219, 47, 105, 0) 0%, rgba(219, 47, 105, 1) 100%);
}

.price-ticker {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding: 1rem 0;
  animation: slide 25s infinite linear;
  -webkit-animation: slide 25s infinite linear;

  & .displays {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-pink-shadow);

    & span {
      display: flex;
      gap: .4rem;
      align-items: center;
      flex-wrap: nowrap;
      width: max-content;
      padding: .5rem 1rem;
      background: var(--text-pink-lit);
      color: var(--lit-100);
      font-size: 12px;
      font-weight: 400;
      border-radius: 2ch;
      -webkit-border-radius: 2ch;
      -moz-border-radius: 2ch;
      -ms-border-radius: 2ch;
      -o-border-radius: 2ch;

      & i {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--col-green);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }

    .badge-1 {
      & i {
        background: var(--col-red);
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

/* ====== main nav ======= */
nav {
  display: flex;
  width: 100%;
  /* position: absolute; */
}

.sticking {
  transition: all 500ms ease-in-out;
  background: var(--bgd-pink-lit);
  box-shadow: 1px 7px 10px rgba(50, 50, 50, 0.1);
  z-index: 100;
  position: sticky;
  top: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.nav-container {
  padding: 1rem 0;
  display: flex;
  width: 80%;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    font-size: 20px;
    font-weight: 900;
    color: var(--text-pink);
    text-transform: capitalize;

    & span {
      color: var(--col-red);
    }

  }

  .list-group {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    & li {
      text-transform: capitalize;
      transition: all 500ms ease;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;

      & a {
        color: var(--col-drk-100);
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
      }

      & :hover {
        color: var(--text-col-100);
      }
    }
  }

  & .remove {
    display: none;
    visibility: hidden;
  }

  .getsign {
    display: flex;
    align-items: center;
    gap: 1rem;

    & a {
      color: rgb(175, 152, 160);
      font-weight: 700;
      font-size: 15.008px;
    }

    .start-btn {
      padding: 1rem 2rem;
      border: 1px solid var(--bgd-pink);
      border-radius: 4ch;
      color: var(--bgd-pink);
      -webkit-border-radius: 4ch;
      -moz-border-radius: 4ch;
      -ms-border-radius: 4ch;
      -o-border-radius: 4ch;
      transition: all 500ms ease;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
    }

    & .start-btn:hover {
      background: var(--bgd-pink);
      color: var(--lit-100);
    }
  }

  & .btn-mobile-navbar {
    display: none;
    color: var(--bgd-pink);
    background-color: var(--lit-300);
    padding: 14px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-color: var(--bgd-pink);
    cursor: pointer;
  }

  & .closebtn {
    display: none;
  }

  & i {
    font-size: 1.25rem;
  }

  & .start-btn1 {
    display: none;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--lit-500);
    min-height: 140px;
    width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0;
    margin: 0.1rem -2rem;
    z-index: 100;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    & li {
      padding: 12px 12px;
    }

    & li a:hover {
      color: var(--bgd-pink);
    }

    & li .dropdown-item {
      display: block;
      width: 100%;
    }
  }

  & .dropdown:hover .dropdown-menu {
    display: block;
  }

  & .arrow-icon {
    font-size: 1.3em;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
  }

  & .dropdown:hover .arrow-icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

/* ====== main nav ======= */

/*  ====== about section*/
@keyframes rotate {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes translate {

  0%,
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  50% {
    transform: translateX(-3rem);
    -webkit-transform: translateX(-3rem);
    -moz-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    -o-transform: translateX(-3rem);
  }
}

.hero-section {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  background: var(--lit-500);

  & img {
    position: absolute;
  }

  & .img-1 {
    left: 10%;
  }

  & .img-2 {
    left: 30%;
    top: .2rem;
  }

  & .img-3 {
    right: 30%;
    top: 1rem;
  }

  & .img-4 {
    right: 10%;
    bottom: 1rem;
  }

  & .rotate {
    animation: rotate 25s linear infinite;
    -webkit-animation: rotate 25s linear infinite;
  }

  & .translate {
    animation: translate 15s linear infinite;
    -webkit-animation: translate 15s linear infinite;
  }



  & h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-pink);
  }

  & .return-btn {
    display: flex;
    text-align: center;
    font-size: 11px;
    color: var(--lit-100);
    text-transform: capitalize;
    padding: 1rem 2rem;
    border-radius: 4ch;
    align-self: center;
    width: max-content;
    background: var(--bgd-pink);
    -webkit-border-radius: 4ch;
    -moz-border-radius: 4ch;
    -ms-border-radius: 4ch;
    -o-border-radius: 4ch;
  }
}

/*  ====== about section*/



/* ========= plan ========= */
.plan {
  padding: 5rem 1rem;
}

.plan-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  & h2 {
    text-align: center;
    font-size: 30px;
    color: var(--col-drk-200);
    text-transform: capitalize;

    & span {
      position: relative;
    }
  }

  & p {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--text-col-100);
  }

  & .plan-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 1rem;
    width: 90%;
    margin: auto;

    & .span2,
    .col-2 {
      margin-top: 3rem;
    }

    & .col-2 h2 {
      text-align: left;
      margin-bottom: 1.5rem;
    }

    & .col-2 p {
      text-align: justify;
    }
  }

  & .plan {
    border: 1px solid #0001;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;
    gap: 1rem;
    height: min-content;
    background: var(--lit-500);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;

    & h1 {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      color: var(--bgd-pink);

      & span {
        color: var(--col-drk-200);
        font-size: 36px;
      }
    }

    & .plan-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .list {
        padding: 2rem;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 600;
        color: #3402198d;
        border-bottom: 1px solid #0001;
      }

      & a {
        padding: 1rem 3rem;
        display: inline;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        background: var(--bgd-pink);
        color: var(--lit-100);
        transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
      }

      & a:hover {
        background: var(--text-pink);
      }
    }

  }
}

/* ========= plan ========= */




/* -- ======= start-footer ================ -- */
footer {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: var(--lit-100);
}

& .footer-container {
  & .pb-3 {
    & select {
      & option {
        padding: 1rem;
      }
    }
  }
}

.row-cols-md-2 {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;

  & .col {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    & h5 {
      font-size: 20px;
      font-weight: 400;
      color: var(--col-drk-200);
      position: relative;
      transform: translateX(1rem);
      -webkit-transform: translateX(1rem);
      -moz-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
      -o-transform: translateX(1rem);
    }

    & h5::before {
      content: " ";
      position: absolute;
      top: 40%;
      left: -1rem;
      width: .8rem;
      height: 3px;
      background: var(--text-col-100);
    }

    & p {
      font-size: 14px;
      font-weight: 400;
      color: var(--text-col-100);
    }

    & .footer-email {
      font-size: 16px;
      font-weight: 600;
      color: var(--bgd-pink);

    }

    & .list-unstyled {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 14px;
      font-weight: 400;

      & a {
        font-size: 14px;
        font-weight: 400;
        color: var(--text-col-100);
      }
    }
  }
}


.d-none {
  & .to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--bgd-pink);
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}
}


/*=============== leader section ============ */
.leader {
  padding: 5rem 1rem;
}

.leader-container {
  width: 80%;
  margin: auto;
  background: var(--lit-500);
  background-image: url(../photo/in-team-background-1.png);
  padding: 5rem 3rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  & h1 {
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--text-col-200);
  }

  &>p {
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 27px;
    margin-bottom: 4rem;
    color: var(--text-col-200);
  }

  .leader-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    & .leader-col {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & img {
        display: flex;
        align-self: center;
        width: 70%;
        height: 70%;
        object-fit: contain;
      }

      & h2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        color: var(--text-col-200);


        & span {
          padding: .5rem 1rem;
          background: var(--bgd-pink);
          color: var(--lit-300);
          border-radius: 4ch;
          width: fit-content;
          font-size: 11px;
          align-self: center;
        }
      }

      & p {
        font-size: 16px;
        color: var(--text-col-100);
        text-align: center;
        line-height: 22px;
      }
    }

  }

}


/*=============== leader section ============ */
@media(width < 950px) {
  .nav-container {
    width: 90%;

    & .getsign {
      display: none;
    }

    & .closebtn {
      display: block;
      position: absolute;
      right: 4rem;
      top: 5rem;
      color: var(--bgd-pink);
      background-color: var(--lit-300);
      padding: 14px 16px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-color: var(--bgd-pink);
      cursor: pointer;
    }

    .list-group {
      display: none;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15rem 7rem;
      background-color: var(--lit-500);
      background-color: rgba(255, 255, 255, 0.9);

      & li {
        padding: 2rem;
      }

      .start-btn1 {
        display: block;
        padding: 1.25rem 10rem;
        border-radius: 1rem;
        color: var(--lit-300);
        background: var(--bgd-pink);
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
      }

      & .start-btn1:hover {
        border: 1px solid var(--bgd-pink);
        color: var(--bgd-pink);
        background: var(--lit-300);
      }

      .dropdown {
        /* position: relative; */
        cursor: pointer;
      }

      .dropdown-menu {
        position: absolute;
        background-color: var(--lit-500);
        min-width: 90%;
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 0;
        margin: 0;
        z-index: 100;
        max-height: 200px;
        overflow-y: auto;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
      }
    }

    & .btn-mobile-navbar {
      display: block;
    }

    & .arrow-icon {
      float: right;
    }
  }

  .plan {
    & .plan-container {
      & .plan-row {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media(width < 750px) {
  .hero-section {
    & img {
      width: 3rem;
      height: 3rem;
    }
  }

  .nav-container {
    width: 90%;

    & .closebtn {
      right: 2.5rem;
    }
  }

  .plan {
    & .plan-container {
      & .plan-row {
        grid-template-columns: 1fr;
        width: auto;
      }
    }
  }

  .footer-container {
    .row-cols-1 {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }
}

@media(width < 550px) {
  .nav-container {
    & .closebtn {
      right: 2rem;
    }

    & .list-group {
      padding: 12rem 5rem;
    }
  }
}

@media(width < 475px) {
  .nav-container {
    & .closebtn {
      right: 2rem;
    }

    & .list-group {
      padding: 12rem 5rem;
    }
  }

}

@media(width < 428px) {
  .nav-container {
    & .closebtn {
      right: 2rem;
    }

    & .list-group {
      padding: 12rem 2rem;
    }
  }
}

@media(width < 390px) {
  .nav-container {
    width: 90%;

    & .list-group {
      padding: 12rem 2rem;
    }
  }
}

@media(width < 355px) {
  .nav-container {

    & .list-group {
      padding: 12rem 1rem;
    }
  }
}